body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #96a0b2;
}

header{
    background: linear-gradient(to right, #090a12, #001a4d);
    color: #ffffff;
    width: 100%;
    padding: 5px;
    border: 2px solid #000000;
}
.container-conteudo {
    max-width: 100%;
    display: flex;
    flex: 1;
}

.barra-lateral {
    background: linear-gradient(to bottom, #090a12, #001a4d);
    color: #ffffff;
    width: 180px;
    padding: 12px;
    min-height: 100vh;
    border-right: 2px solid #000000;
}


.logo{
margin-left: 40px;
font-style: italic;
}
.container{
       display: flex;
    align-items: center;
    gap: 35%;
}

.categoria {
    padding: 35px;
  margin-top: -25px;
    a {
        text-decoration: none;
        color: #ffffff;
    }
    h3 {
        margin: 0;
        padding: 5px 0;
    }
}
.configuracao {
    color: #ffffff;
}
